[submodule "wordpress/wp-content/plugins"]
	path = wordpress/wp-content/plugins
	url = git@github.com:mikepsinn/AP-Plugins.git
[submodule "wordpress/wp-content/cache/wplms_module"]
	path = wordpress/wp-content/cache/wplms_module
	url = git@github.com:mikepsinn/QuantiModo-WPLMS.git
